@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --color-white: #fff;
  --background-color: #f7f7f7;
  --box-shadow-color: 0 1px 4px rgba(146, 161, 176, 0.15);
  --main-color: var(
    --lineal-noti,
    linear-gradient(90deg, #572ded 0%, #528dff 100%)
  );
  --shadow-main-color: var(
    --lineal-noti,
    linear-gradient(90deg, #6a44f3ee 0%, #6497fcef 100%)
  );
  --text-color: #252525;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--background-color);
  max-width: 100vw;
  overflow-x: hidden;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.main {
  display: flex;
  justify-content: center;
}
